@font-face {
  font-family: "SFUIDisplay-Regular";
  src: url("../../public/fonts/SFUIDisplay-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFUIDisplay-Bold";
  src: url("../../public/fonts/SFUIDisplay-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Medium";
  src: url("../../public/fonts/Lato-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFUIText-Regular";
  src: url("../../public/fonts/SFUIText-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFUIText-Bold";
  src: url("../../public/fonts/SFUIText-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SFProText-Regular";
  src: url("../../public/fonts/SFProText-Regular.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SFProText-Bold";
  src: url("../../public/fonts/SFProText-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../../public/fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../../public/fonts/Lato-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Black";
  src: url("../../public/fonts/Lato-Black.ttf");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Regular";
  src: url("../../public/fonts/Gotham-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../../public/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans-Regular";
  src: url("../../public/fonts/NunitoSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans-Bold";
  src: url("../../public/fonts/NunitoSans-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../public/fonts/Montserrat-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../../public/fonts/Montserrat-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeagueSpartan-Regular";
  src: url("../../public/fonts/LeagueSpartan-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeagueSpartan-SemiBold";
  src: url("../../public/fonts/LeagueSpartan-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}